@charset "utf-8";
a:hover {
	color: rgba(255,255,255,1.00);
}

#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	padding-top: 36px;
	height: 784px;
}
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	;
	margin-bottom: 21px;
}

.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: -20px;
}
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}


.productInfo div img {
	width: 100%;
}
.sidebar #menubar .menu ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
#menubar .menu h2 {
	font-size: 14px;
}
#menubar .menu ul li a {
	font-size: 14px;
}
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
footer .footerlinks {
	margin-top: -15px;
}

/*CSS index*/
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    background-color: rgb(105,105,105);
}

.container_p {
    margin: 0px auto;
    padding: 0 115px;
}

.logo img {
    width: 9rem;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: rgb(252, 197, 57);
    padding: 1.25rem;
    text-decoration: none;
}
.main-nav a:hover{
    background-color: black;
}
.background{
    height: 100vh;
    background-image: url('../Logo\ Halcyon.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background h2{
    color: rgb(252, 197, 57);
    z-index:1;
    padding: 20px 25px;
    border: 3px solid rgb(252, 197, 57);
}
.background:after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 0, 0,.7);
}
.socialmedia ul,li,a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
